.app-container {
  display: flex;
  gap: 30px;
  width: 80%;
  margin: 100px 10%;
  padding: 5%;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  color: white;
  text-align: center;
}

.tip-amount-button {
  background-color: hsl(183, 100%, 15%);
  border-radius: 8px;
  padding: 10px;
}

.form-input-container {
  border-radius: 8px;
  background-color: hsl(189, 41%, 97%);
}

.form-input {
  box-sizing: border-box;
  text-align: end;
  width: 90%;
  padding: 12px 8px;
}

.form-icon {
  display: inline-block;
  padding: 12px 8px;
  width: 10%;
  font-weight: 200;
}

.custom-tip {
  color: hsl(183, 100%, 15%);
  background-color: hsl(189, 41%, 97%);
  width: 100%;
}
