@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 600;
  background-color: hsl(185, 41%, 84%);
  font-size: 18px;
}

button {
  all: unset;
}

input {
  all: unset;
}
